body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    display: block;
    margin: 0;
    padding: 0;
}

.Floor{
    background-color: #372000;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.Player{
    height: 80px;
    width: auto;
    position: absolute;
    left: 100px;
}
