body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.Floor{
    background-color: #333;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.Player{
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 300px;
    left: 100px;
}
